.categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.categories .card {
    width: 265px;
}

#season {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 20px;
}