@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Georama:ital,wght@0,100..900;1,100..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

* {
    font-family: "Tajawal", sans-serif;
    color: rgb(255, 249, 242);
}

ul {
    list-style: none;
}

body {
    background-color: #262020;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
}

h1, h4 {
    font-family: "DM Serif Display", serif;   
}

h2, h5 {
    font-family: "Georama", sans-serif;
    color: #8c05d5;
}
a {
    text-decoration: none;
    color: #a3a3a3;
}
a:hover {
    color: #faeded;
}
.btn {
    background: black;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    padding: 5px 15px;
}
.btn:hover {
    background: #332B2B;
}

.btn:active {
    border: 1px solid white;
    background-color: black;
}

.nav {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: .5fr 1fr .5fr;
    justify-items: center;
    align-items: center;
    position: sticky;
    top: 0px;
    height: 50px;
    box-sizing: border-box;
    margin: 0px;
    z-index: 99;
    background-color: #610692;
    border-bottom: 2px solid black;
}

.active {
    font-weight: bold;
    text-shadow: 2px 2px #000000;
    color: #faeded;
}

.disabled {
    font-weight: bold;
    color:black;
}
.disabled:hover{
    color:black;
}

img {
    background-color: #faeded;
    box-shadow: 0 0 8px #f9f6f6;
    padding: 15px;
    border-radius: 10px;
}

.card{
    background-color: #332B2B;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px #f9f6f6;
}

input, select, option {
    color: #332B2B;
    background-color: #faeded;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #332B2B;
    border-radius: 10px;
    width: fit-content;
    box-shadow: 0 0 5px #f9f6f6;
    border: 1px solid black;
    margin: 10px;
}
form > div {
    padding: 5px 10px;
}

td {
    justify-self: center;
}

@media screen and (max-width:1000px) {
 
    .nav {
        flex-direction: column;
    }
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    * {
        flex-grow: 1;
    }
}